<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Signaler un accident</title>
</head>
<body>
    <h1>Signaler un accident</h1>

    <form method="POST" action="{{ url_for('signal_accident') }}">
        <label>Latitude :</label>
        <input type="text" name="lat" required><br><br>

        <label>Longitude :</label>
        <input type="text" name="lon" required><br><br>

        <label>Description :</label><br>
        <textarea name="description" rows="3" cols="30"></textarea><br><br>

        <button type="submit">Envoyer</button>
    </form>

    <p><a href="{{ url_for('index') }}">Retour à l’accueil</a></p>
</body>
</html>
